<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <title>Siegertipp Ändern</title>
</head>
<body>

<div class="page-header">
    <h1 th:text="${'Hallo ' + appUser + '!'}"></h1>
</div>
<p> Welche Mannschaft wird Weltmeister? </p>
<form action="#" th:action="@{|/siegertipp/edit/${appUser}|}" th:object="${winnertip}" method="post">
    <input type="hidden" th:field="*{firstNameOfAppUser}" th:value="${appUser}"/>

    <select th:field="*{fifaCodeOfSoccerTeam}" class="form-control">
        <option
                th:each="soccerTeam : ${soccerTeams}"
                th:text="${soccerTeam.country + ' (' + soccerTeam.fifaCode + ')'}"
                th:value="${soccerTeam.fifaCode}">
        </option>
    </select>
    <input type="submit" value="Speichern"/>
</form>
</body>
</html>