<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Spiele</title>
</head>
<body>
<div th:include="header :: navigation"></div>
<h1>Spiele</h1>
<div class="list-group" th:each="game : ${allGames}">
    <button class="list-group-item" data-toggle="collapse" th:attr="data-target='#gametip_' + ${game.homeTeam.fifaCode} + '_' + ${game.guestTeam.fifaCode}">
        <span th:text="${game.homeTeam.country + ' - ' + game.guestTeam.country}"></span>
        <span class="pull-right" th:text="${' am '+ #temporals.format(game.kickoff, 'dd.MM., HH:mm')}"></span>
    </button>
    <div th:id="gametip_ + ${game.homeTeam.fifaCode} + '_' + ${game.guestTeam.fifaCode}" class="collapse">
        Tipps hier
    </div>
</div>
</body>
</html>