<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Welcome</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Familienbande - Tippspiel zur WM 2018</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="active"><a href="#">Weltmeister-Tipp</a></li>
                <li class="active"><a href="#">Mannschaften</a></li>
                <li class="active"><a href="#">Spielstätten</a></li>
            </ul>
        </div>
    </div>
</nav>

<h1>Servus!</h1>
<p>Hier entsteht unsere neue Tipp-App für die WM 2018.</p>
</body>
</html>